.footerLinks {
    a {
        color: #fff;
        text-decoration: none;
        margin-right: 3rem;
        font-size: 14px;
        letter-spacing: .5px;
        text-transform: capitalize;
    }
}