.container-fluid {
    margin: 0;
    padding: 0;
}
.parent {
    display: flex;
    margin: 0;
    padding: 0;
}
.sidebar {
    color: rgba(139,143,160,255);
    background-color: #0c1a32;
    padding: 10px;
    margin: 0;
    overflow-x: hidden;
    transition: width 0.5s;
    width: 150px;
    min-width: 45px;
}

.main {
    height: 100%;
    flex-grow: 1;
}

.collapsed {
    width: 45px;
}